parameters:
  level: max
  paths:
    - src
    - tests
  bootstrapFiles:
    - /usr/local/bin/phpunit
  ignoreErrors:
    - '#Parameter \#1 \$type of method spriebsch\\diContainer\\DIContainer::get\(\) expects class-string<.*>, string given\.#'
    - '#PHPDoc tag @var with type class-string is not subtype of native type .*#'
    -
       messages:
           - '#Constructor of class .* has an unused parameter#'
           - '#Method .* has parameter .* with no type specified.#'
           - '#Method .* has parameter .* with no value type specified in iterable type array.#'
           - '#Method .* has no return type specified.#'
       path: tests/stubs/*.php
